<div class="main-container">
	<div class="tab-header">
		<ul>
			<li id="employees" class="active"><a href="#/employeeDetails" ui-sref="employeeDetails"><span class="icon">&nbsp;</span><span class="tab_name">Employees</span></a></li>
			<li id="information-systems"><a href="#/infoSystems" ui-sref="infoSystems"><span class="icon">&nbsp;</span><span class="tab_name">Information Systems</span></a></li>
			<li id="computers"><a href="#/computers" ui-sref="computers"><span class="icon">&nbsp;</span><span class="tab_name">Computers</span></a></li>
			<li id="policies"><a href="#/policies" ui-sref="policies"><span class="icon">&nbsp;</span><span class="tab_name">Policies</span></a></li>
		</ul>
	</div>
	<div class="tab-container">
		<div class="employees">
			<div class="add-employee-section" ng-controller="hsmEmpViewCntrl">	
				<form name="editEmp" ng-submit="editEmployee();">					
					<div class="two-col">
						<div class="left">
							<div class="row">
								<label>Employee ID: </label>
								<input type="text" ng-model="empDetails.empId" readonly />
							</div>
							<div class="row" ng-class="{true: 'error'}[submitted && editEmp.empFirstName.$invalid]">
								<label>First Name: </label>
								<input type="text" name="empFirstName" ng-model="empDetails.empFirstName" required />
								<span class="validation-message" ng-show="submitted && editEmp.empFirstName.$error.required"><label>&nbsp;</label>Enter valid First Name.</span>
							</div>
							<div class="row">
								<label>Title: </label><input  type="text"  ng-model="empDetails.tilte" />
							</div>
							<div class="row">
								<label>Supervisor: </label><input type="text" ng-model="empDetails.supervisor" />
							</div>
							<div class="row">
								<label>PHI Access: </label>
								<select ng-model="phiAcessProp.value" ng-options="v for v in phiAcessProp.values"></select>
							</div>
							<div class="row res_display_none">
								<label>&nbsp;</label>
							</div>
						</div>
						<div class="right">
							<div class="row res_display_none">
								<label>&nbsp;</label>
							</div>
							<div class="row" ng-class="{true: 'error'}[submitted && editEmp.empLastName.$invalid]">
								<label>Last Name: </label>
								<input type="text" name="empLastName" ng-model="empDetails.empLastName" ng-class="{'field-label-error':errorfield}" required />
								<span class="validation-message" ng-show="submitted && editEmp.empLastName.$error.required"><label>&nbsp;</label>Enter valid Last Name.</span>
							</div>
							<div class="row">
								<label>Location: </label><input type="text" ng-model="empDetails.location" />
							</div>
							<div class="row" ng-class="{true: 'error'}[submitted && editEmp.statusProp.$invalid]">
								<label>Active: </label>
								<select name="statusProp" ng-model="statusProp.value" ng-options="v for v in statusProp.values" required ng-class="{'field-label-error':errorfield}"></select>
								<span class="validation-message" ng-show="submitted && editEmp.statusProp.$error.required"><label>&nbsp;</label>Select any option.</span>
							</div>
							<div class="row res_display_none">
								<label>&nbsp;</label>
							</div>
							<div class="row">
								<label class="res_display_none">&nbsp;</label>
								<input type="button" class="gray-button" value="Cancel" ui-sref="employeeDetails" />&nbsp;&nbsp;&nbsp;
								<input type="submit" value="Save" ng-click="submitted=true"/>
							</div>						
						</div>
						<div id="empSearchError" class="row validation-message" ng-show="editEmployeeError">Employee Edit Failed.Please try after sometime</div>
					</div>
				</form>						
			</div>
		</div>
	</div>
</div>